
html {
    height: 100%;
  }
  body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.7;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #646464;
    background-image: url("../../images/img1.jpg");
  }




h2
{
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 20px 0;
  color: #111;
}

h2 {
  line-height: 1.2;
}

h2 {
  font-size: 28px;
}
@media only screen and (max-width: 1199px) {
  h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 991px) {
  h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}


a {
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  outline: 0 none;
}
img {
  max-width: 100%;
  height: auto;
}



.fxt-template-layout9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  padding: 50px 0 20px;
}
.fxt-template-layout9:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
.fxt-template-layout9 .fxt-checkbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fxt-template-layout9 .fxt-content {
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 70px;
  margin-left: 40px;
  border-left: 2px solid rgba(111, 117, 182, 0.5);
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout9 .fxt-content {
    padding-left: 0;
    margin-left: 0;
    margin-top: 40px;
    border-left: 0;
    padding-bottom: 0;
    border-top: 2px solid rgba(111, 117, 182, 0.5);
  }
}
.fxt-template-layout9 .fxt-content h2 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout9 .fxt-content h2 {
    text-align: center;
  }
}
.fxt-template-layout9 .fxt-header {
  text-align: center;
}
.fxt-template-layout9 .fxt-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40vw;
}
.fxt-template-layout9 .fxt-form .form-group {
  position: relative;
  z-index: 1;
}
.fxt-template-layout9 .fxt-form .form-group .field-icon {
  position: absolute;
  z-index: 1;
  right: 19px;
  bottom: 18px;
  font-size: 14px;
  color: #bebebe;
}
.fxt-template-layout9 .fxt-form .form-group .field-icon:before {
  padding: 17px 10px;
}
.fxt-template-layout9 .fxt-form .form-control {
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #8385bf;
  padding: 10px 15px;
  background-color: transparent;
  color: #fff;
}
.fxt-template-layout9 .fxt-form input::-webkit-input-placeholder {
  color: #bebebe;
  font-size: 18px;
  font-weight: 300;
}
.fxt-template-layout9 .fxt-form input::-moz-placeholder {
  color: #bebebe;
  font-size: 18px;
  font-weight: 300;
}
.fxt-template-layout9 .fxt-form input:-moz-placeholder {
  color: #bebebe;
  font-size: 18px;
  font-weight: 300;
}
.fxt-template-layout9 .fxt-form input:-ms-input-placeholder {
  color: #bebebe;
  font-size: 18px;
  font-weight: 300;
}
.fxt-template-layout9 .fxt-btn-fill {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #ffbd3f;
  padding: 10px 36px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout9 .fxt-btn-fill:hover {
  background-color: #db9e2d;
  border-color: #db9e2d;
}
.fxt-template-layout9 .fxt-btn-fill:focus {
  outline: none;
}
.fxt-template-layout9 .switcher-text {
  color: #b6b6b6;
  font-size: 15px;
  margin-top: 5px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout9 .switcher-text:last-child {
  margin-right: 0;
}
.fxt-template-layout9 .switcher-text:hover {
  color: #e6e6e6;
}
.fxt-template-layout9 .switcher-text2 {
  color: #d4d4d4;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 2px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout9 .switcher-text2:last-child {
  margin-right: 0;
}
.fxt-template-layout9 .switcher-text2:hover {
  color: #e6e6e6;
}
.fxt-template-layout9 .checkbox {
  padding-left: 5px;
  margin-right: 10px;
}
.fxt-template-layout9 .checkbox label {
  padding-left: 20px;
  color: #b9b9b9;
  margin-bottom: 0;
  font-size: 15px;
  position: relative;
}
.fxt-template-layout9 .checkbox label:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 0;
  margin-left: -5px;
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.fxt-template-layout9 .checkbox label:after {
  position: absolute;
  margin-left: -20px;
  padding-left: 3px;
  font-size: 10px;
  color: #555555;
}
.fxt-template-layout9 .checkbox input[type="checkbox"] {
  display: none;
}
.fxt-template-layout9 .checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f00c";
  font-weight: 900;
  color: #ffffff;
  left: 15px;
  top: 4px;
}
.fxt-template-layout9 .checkbox input[type="checkbox"]:checked + label::before {
  background-color: #ffbd3f;
  border-color: #ffbd3f;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 3s;
}

.animate__animated.animate__flipInY {
  --animate-duration: 3s;
}
